.service-detail-body {
    width: 100%;
    padding: 0px 4rem 0px 4rem;
}

.carosal-and-sidebar {
    display: flex;
}

/* flex-wrap: wrap; */
/* padding: 13px; */

@media screen and (max-width: 992px) {
    .service-detail-body {
        padding: 0 22px 0 22px;
    }
}

@media screen and (max-width: 900px) {
    .carosal-and-sidebar {
        flex-wrap: wrap;
    }
}

.rating-and-pic-holder {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.rating-and-pic-holder>* {
    margin-right: 1rem;
}

.rating-and-pic-holder h6 {
    margin-bottom: 0;
}

.package-sidebar-div {
    height: 24rem;
    width: "600px";
    border: 1px solid #e4e5e7;
}