.contacts-style {
    width: 25%;
    padding-top: 5px;
    border: 1px solid #e4e5e7;
    overflow-y: scroll;
}


.each-profile {
    display: flex;
    align-items: center;
    padding: 17px;
    background-color: #e5f8e6;
    border-top: 1px solid #e4e5e7;
    border-bottom: 1px solid #e4e5e7;
}

.each-profile :hover {
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .contacts-style {
        width: 100%;
    }
}